In [1]:
%pip install pandas

Collecting pandas
  Obtaining dependency information for pandas from https://files.pythonhosted.org/packages/df/92/a3fa053c74198f9f0224b2c04dc74f41d2e14e30329c082f7a657f9ca4c5/pandas-2.1.3-cp312-cp312-win_amd64.whl.metadata
  Downloading pandas-2.1.3-cp312-cp312-win_amd64.whl.metadata (18 kB)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\users\афоня\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\афоня\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Obtaining dependency information for pytz>=2020.1 from https://files.pythonhosted.org/packages/32/4d/aaf7eff5deb402fd9a24a1449a8119f00d74ae9c2efa79f8ef9994261fc2/pytz-2023.3.post1-py2.py3-none-any.whl.metadata
  Downloading pytz-2023.3.post1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.1 (from pandas)
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     ---------------------------------------- 0.0/341.8 kB ? eta -:--:--
     - -------------------------------------- 10.2/341.8 kB ? eta -:--:--
     --- --------------------------------- 30.7/341.8 kB 435.7 kB/s eta 0:00:01
     --- --------------------------------- 30.7/341.8 kB 435.7 kB/s eta 0:00:01
     --- --------------------------------- 30.7/341.8 kB 435.7 kB/s eta 0:00:01
     ---- -------------------------------- 41.0/341.8 kB 178.6 kB/s eta 0:00:02
     ------- ----------------------------- 71.7/341.8 kB 262.6 kB/s eta 0:00:02
     ----------- ------------------------ 112.6/341.8 kB 364.4 kB/s eta 0:00:01
     ------------ ----------------------- 122.9/341.8 kB 379.3 kB/s eta 0:00:01
     --------------- -------------------- 143.4/341.8 kB 387.0 kB/s eta 0:00:01
     ------------------ ----------------- 174.1/341.8 kB 388.2 kB/s eta 0:00:01
     ----------------------- ------------ 225.3/341.8 kB 458.5 kB/s eta 0:00:01
     ------------------------------- ---- 297.0/341.8 kB 556.7 kB/s eta 0:00:01
     ------------------------------------ 341.8/341.8 kB 606.2 kB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in c:\users\афоня\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.1.3-cp312-cp312-win_amd64.whl (10.5 MB)
   ---------------------------------------- 0.0/10.5 MB ? eta -:--:--
    --------------------------------------- 0.2/10.5 MB 5.0 MB/s eta 0:00:03
    --------------------------------------- 0.2/10.5 MB 3.8 MB/s eta 0:00:03
    --------------------------------------- 0.2/10.5 MB 3.8 MB/s eta 0:00:03
    --------------------------------------- 0.2/10.5 MB 3.8 MB/s eta 0:00:03
   - -------------------------------------- 0.3/10.5 MB 1.5 MB/s eta 0:00:07
   - -------------------------------------- 0.5/10.5 MB 1.8 MB/s eta 0:00:06
   - -------------------------------------- 0.5/10.5 MB 1.8 MB/s eta 0:00:06
   - -------------------------------------- 0.5/10.5 MB 1.8 MB/s eta 0:00:06
   - -------------------------------------- 0.5/10.5 MB 1.8 MB/s eta 0:00:06
   -- ------------------------------------- 0.7/10.5 MB 1.5 MB/s eta 0:00:07
   --- ------------------------------------ 1.0/10.5 MB 1.9 MB/s eta 0:00:05
   --- ------------------------------------ 1.0/10.5 MB 1.9 MB/s eta 0:00:05
   --- ------------------------------------ 1.0/10.5 MB 1.9 MB/s eta 0:00:05
   ---- ----------------------------------- 1.2/10.5 MB 1.8 MB/s eta 0:00:06
   ----- ---------------------------------- 1.5/10.5 MB 2.2 MB/s eta 0:00:05
   ------- -------------------------------- 2.0/10.5 MB 2.7 MB/s eta 0:00:04
   -------- ------------------------------- 2.2/10.5 MB 2.9 MB/s eta 0:00:03
   -------- ------------------------------- 2.2/10.5 MB 2.9 MB/s eta 0:00:03
   ---------- ----------------------------- 2.7/10.5 MB 3.1 MB/s eta 0:00:03
   ------------ --------------------------- 3.2/10.5 MB 3.5 MB/s eta 0:00:03
   -------------- ------------------------- 3.8/10.5 MB 3.9 MB/s eta 0:00:02
   ---------------- ----------------------- 4.4/10.5 MB 4.3 MB/s eta 0:00:02
   ------------------ --------------------- 4.8/10.5 MB 4.5 MB/s eta 0:00:02
   -------------------- ------------------- 5.3/10.5 MB 4.8 MB/s eta 0:00:02
   ---------------------- ----------------- 5.9/10.5 MB 5.1 MB/s eta 0:00:01
   ---------------------- ----------------- 6.0/10.5 MB 5.1 MB/s eta 0:00:01
   ---------------------- ----------------- 6.0/10.5 MB 5.1 MB/s eta 0:00:01
   ---------------------- ----------------- 6.0/10.5 MB 5.1 MB/s eta 0:00:01
   ---------------------- ----------------- 6.0/10.5 MB 5.1 MB/s eta 0:00:01
   ----------------------- ---------------- 6.1/10.5 MB 4.4 MB/s eta 0:00:01
   ------------------------- -------------- 6.7/10.5 MB 4.6 MB/s eta 0:00:01
   ------------------------------- -------- 8.3/10.5 MB 5.6 MB/s eta 0:00:01
   --------------------------------- ------ 8.9/10.5 MB 5.8 MB/s eta 0:00:01
   ---------------------------------------  10.5/10.5 MB 7.4 MB/s eta 0:00:01
   ---------------------------------------- 10.5/10.5 MB 7.2 MB/s eta 0:00:00
Downloading pytz-2023.3.post1-py2.py3-none-any.whl (502 kB)
   ---------------------------------------- 0.0/502.5 kB ? eta -:--:--
   --------------------------------------  501.8/502.5 kB 10.5 MB/s eta 0:00:01
   --------------------------------------- 502.5/502.5 kB 10.5 MB/s eta 0:00:00
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.1.3 pytz-2023.3.post1 tzdata-2023.3
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

## Pandas - библиотека для работы с данными

In [2]:
import pandas as pd

- объекты класса (типа) Series

In [3]:
# Series - 1-мерный массив данных
# создание на базе списка
s0 = pd.Series([10,20,30,40])
s0

0    10
1    20
2    30
3    40
dtype: int64

In [4]:
s0.to_numpy()

array([10, 20, 30, 40], dtype=int64)

In [5]:
# создание на базе словаря
d0 = {'a':100, 5:203, 0:27}
s1 = pd.Series(d0)
s1

a    100
5    203
0     27
dtype: int64

In [6]:
# явные индексы
s1[0]

27

In [8]:
s1["a"]

100

In [14]:
# неявные индексы
# атрибут индексатор для НЕявных индексов 
# s1.iloc[0]
s1.iloc[-1]

27

In [18]:
# атрибут индексатор для явных индексов 
s1.loc[0]

27

In [20]:
s1.shape

(3,)

In [21]:
s1.dtype

dtype('int64')

In [22]:
s1.index

Index(['a', 5, 0], dtype='object')

In [23]:
s1.values

array([100, 203,  27], dtype=int64)

In [39]:
# Данные по населению городов Якутии
pop_d = {
    "Yakutsk": 318768,
    "Neryungri": 57009,
    "Vilyusk": 11095
}

pop_s = pd.Series(pop_d)
pop_s

Yakutsk      318768
Neryungri     57009
Vilyusk       11095
dtype: int64

In [ ]:
# 1. вывести значение населения выбранного города 
# 2. сделать срез от нер до вил

In [32]:
pop_s["Yakutsk"]

318768

In [34]:
pop_s["Neryungri":"Vilyusk"]

Neryungri    57009
Vilyusk      11095
dtype: int64

- Объект класса DataFrame

In [35]:
d1 = {
    "col 1": {"row 1": 1000, "row 2": 2000},
    "col 2": {"row 2": 3000, "row 3": 4000},
    "col 3": {"row 1": 5000, "row 4": 6000}
}

df0 = pd.DataFrame(d1)
df0

        col 1   col 2   col 3
row 1  1000.0     NaN  5000.0
row 2  2000.0  3000.0     NaN
row 3     NaN  4000.0     NaN
row 4     NaN     NaN  6000.0

In [36]:
area_d = {
    "Yakutsk": 122,
    "Neryungri": 99,
    "Vilyusk": 15
}

area_s = pd.Series(area_d)
area_s

Yakutsk      122
Neryungri     99
Vilyusk       15
dtype: int64

In [42]:
ykt_df = pd.DataFrame({"population": pop_s, "area": area_s})
ykt_df

           population  area
Yakutsk        318768   122
Neryungri       57009    99
Vilyusk         11095    15

In [48]:
# данные из столбца
# ykt_df["area"]
ykt_df.loc[: "Neryungri", "area"]

Yakutsk      122
Neryungri     99
Name: area, dtype: int64

In [45]:
# данные из строк
# ykt_df.loc["Yakutsk", "population"]
ykt_df.loc["Yakutsk", :]

population    318768
area             122
Name: Yakutsk, dtype: int64

- маскированифе

In [49]:
import numpy as np

np.random.seed(0)

arr0 = np.random.randint(10, size=5)
arr0

array([5, 0, 3, 3, 7])

In [50]:
arr0 >= 5

array([ True, False, False, False,  True])

In [51]:
# города Якутии с населением больше 15000

mask = ykt_df["population"] > 15000
mask

Yakutsk       True
Neryungri     True
Vilyusk      False
Name: population, dtype: bool

In [52]:
ykt_df.loc[mask, :]

           population  area
Yakutsk        318768   122
Neryungri       57009    99

In [53]:
ykt_df.loc[ykt_df["population"] > 15000]

           population  area
Yakutsk        318768   122
Neryungri       57009    99